<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tags</title>
    <link rel="stylesheet" href="" />
  </head>
  <style>
    table,
    th,
    td {
      border: 1px solid red;
    }
  </style>
  <body>
    <div>
      <h1>HTML TUTORIALS - h1</h1>
      <h2>HTML TAGS -h2</h2>
      <h3>Input Tags -h3</h3>
      <h4>h4</h4>
      <h5>h5</h5>
      <h6>h6</h6>
      <!-- Paragraph Tag -->
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
        adipisci expedita, excepturi vitae sint sapiente?
        <span style="color: rgb(226, 43, 64); font-weight: 800">
          Voluptates culpa excepturi reprehenderit sequi quia quis,</span
        >
        dolorum rerum iure veniam, asperiores impedit laboriosam eaque animi
        iste incidunt laudantium itaque, vel praesentium ut numquam unde ab
        commodi. Beatae fugiat iure nam? Optio aspernatur maiores corrupti.
      </p>
      <pre>
Lorem ipsum, dolor
 sit amet consectetur adipisicing elit. 
 Eveniet minima illum blanditiis neque aperiam veniam quam dolorum! Ullam rem qui quos nemo, 
 natus reiciendis nostrum dicta, sunt soluta quis tempore accusamus. Magnam incidunt expedita aperiam. 
 Soluta vero dolor, saepe atque accusamus repellendus dolorem quo totam iste nesciunt provident error
  distinctio voluptatibus vitae maiores vel, commodi hic, facere natus neque expedita possimus autem veritatis 
  earum! Consectetur rerum odio possimus voluptatum! Similique veritatis modi minus. Quas, nam rerum recusandae
   non voluptatem hic voluptas sed asperiores maxime consectetur, nulla aspernatur iusto autem fugiat, explicabo
    fuga qui eum perferendis delectus ullam blanditiis sequi? Fugiat.</pre
      >

      <!-- Tags of HTML  -->
      <!-- INPUT TAGS -->
      <label for=""> Input for Text</label>
      <input type="text" placeholder="Enter Your Name" /><br />
      <label for=""> Radio Button</label>
      <input type="radio" name="" id="" /><br />
      <label for=""> Simple input type Button</label>
      <input type="button" value="PRESS" /> <br />
      <label for=""> Direct Button</label>
      <button>Stop</button> <br />
      <!-- <input type="color" name="red" id="r" /> -->
      <input type="color" name="" id="" /><br />
      <label for="">Range Patti</label>
      <input type="range" name="" id="" /><br />
      <label for="">Reset</label>
      <input type="reset" value="" /><br />
      <label for="">Password Box</label>
      <input
        type="password"
        placeholder="Password"
        name="Password"
        id=""
      /><br />
      <input type="hidden" name="" />
      <label for="">Checkbox</label>
      <input type="checkbox" name="" id="" /><br />
      <label for="">Date</label>
      <input type="date" name="" id="" /> <br />
      <!-- <a href="https://www.google.com/" target="_blank">
        <img
          src="../../../public/Image/IMG20220114170244_Bokeh..jpg"
          style="height: 25%; width: 25%"
          alt="arabic calligraphy"
        />
      </a> -->
      <ul>
        <li>sayyad</li>
        <li>mukarram</li>
        <li>shaikh</li>
        <li>mukassar</li>
        <li>sadeq</li>
      </ul>
      <ol>
        <li>sayyad</li>
        <li>mukarram</li>
        <li>shaikh</li>
        <li>mukassar</li>
        <li>sadeq</li>
      </ol>
      <textarea
        name=""
        id=""
        cols="100"
        rows="10"
        placeholder="Enter Texr Here"
      ></textarea>
      <table>
        <thead>
          <tr>
            <th>Croatia</th>
            <th>Argentina</th>
            <th>Marakash</th>
            <th>France</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
          </tr>
          <tr>
            <td>p</td>
            <td>q</td>
            <td>r</td>
            <td>s</td>
          </tr>
          <tr>
            <td>w</td>
            <td>x</td>
            <td>y</td>
            <td>z</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
